[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
openai = "==0.27.10"
gunicorn = "*"
django-environ = "*"
psycopg2-binary = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
